<button class="full-width" mat-button routerLink="upisiGodine" routerLinkActive="active-item">Upisi</button><br>
<button class="full-width" mat-button routerLink="student/sv20/{{user}}" routerLinkActive="active-item">ŠV20 obrazac</button><br>
<button class="full-width" mat-button routerLink="zahtevZaLicnePodatke" routerLinkActive="active-item">Zahtev za lične podatke</button><br>
<button class="full-width" mat-button disabled>Moji predmeti</button><br>
<button class="full-width" mat-button disabled>Ocene</button><br>