<button class="full-width" mat-button routerLink="pretragaStudenata" routerLinkActive="active-item">Pretraži studente</button><br>
<button class="full-width" mat-button routerLink="upisStudenta" routerLinkActive="active-item">Upiši studenta</button><br>
<button class="full-width" mat-button routerLink="zahtevZaLicnePodatke" routerLinkActive="active-item">Zahtev za lične podatke</button><br>
<button class="full-width" mat-button routerLink="pregledZahtevaZaLicnePodatke" routerLinkActive="active-item">Pregled svih zahteva za lične podatke</button><br>